<template>
  <div
    class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <div>
        <img
          class="mx-auto h-12 w-auto"
          src="https://via.placeholder.com/48"
          alt="Workflow"
        />
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign in to your account
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <nuxt-link
            to="/register"
            class="font-medium text-indigo-600 hover:text-indigo-500"
          >
            create an account
          </nuxt-link>
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          </a>
        </p>
      </div>
      <div class="mt-8 bg-white p-8 rounded-md space-y-6 text-left">
        <div class="rounded-md shadow-sm -space-y-px flex flex-col gap-y-4">
          <label class="block">
            <span class="text-gray-700">Username</span>
            <input v-model="email" type="email" class="mt-1 block w-full" />
          </label>
          <label class="block">
            <span class="text-gray-700">Password</span>
            <input
              v-model="password"
              type="password"
              class="mt-1 block w-full"
            />
          </label>
        </div>

        <div>
          <button
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            @click="submit"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ middleware: 'guest' })
export default class extends Vue {
  email: string = ''
  password: string = ''
  async submit() {
    try {
      const response = await this.$strapi.login({
        identifier: this.email,
        password: this.password,
      })
      console.log({ response })
    } catch (e) {
      this.$toast.error(e.message)
      return
    }
    this.$router.push('/app')
  }
}
</script>
