<template>
  <div class="container">
    <h1>welcome {{ $strapi.user.username }}</h1>
    go to <nuxt-link to="/app">App</nuxt-link>
  </div>
</template>

<script lang="ts">
import { Component, mixins } from 'nuxt-property-decorator'
import HandlesLogout from '~/mixins/HandlesLogout.vue'

@Component({ layout: 'app', middleware: 'auth' })
export default class extends mixins(HandlesLogout) {}
</script>
