<template>
  <div
    class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <div>
        <img
          class="mx-auto h-12 w-auto"
          src="https://via.placeholder.com/48"
          alt="Workflow"
        />
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Logged in as {{ username }}
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          do you want to
          <a
            class="font-medium text-indigo-600 hover:text-indigo-500"
            @click.prevent="logout"
          >
            log out
          </a>
          ?
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, mixins } from 'nuxt-property-decorator'
import HandlesLogout from '@/mixins/HandlesLogout.vue'

@Component({ middleware: 'auth' })
export default class extends mixins(HandlesLogout) {
  username = ''

  mounted() {
    this.username = this.$strapi.user.username
  }
}
</script>
