<template>
  <div class="container">
    <h1>Test</h1>
    <a href="#" @click.prevent="logout">Log Out</a>
  </div>
</template>

<script lang="ts">
import { Component, mixins } from 'nuxt-property-decorator'
import HandlesLogout from '~/mixins/HandlesLogout.vue'

@Component({ layout: 'app', middleware: 'auth' })
export default class extends mixins(HandlesLogout) {}
</script>
